@import "reset";

@font-face {
    font-family: 'Kirby Classic';
    src: url(../fonts/kirby-classic2.eot);
    src: url(../fonts/kirby-classic2.ttf);
  }


html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{

  
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  

}